@media only screen and (max-width: 768px) {

  body>div.card.card-image > div > i {
    font-size: 40px;
    color: white;
  }

  body > div.card.card-image > div > h1 {
    font-size: 20px;
  }

  .map-container {
    display: none;
  }

  #restaurants, .header {
    display: block;
  }

  .listings {
    border: 1px solid black;
  }

  .header {
    margin: 5px;
  }

  .header>h1 {
    font-size: 30px;
  }

  .view-options-toggler {
    display: block;
  }

  body>.card {
    padding: 10px;
  }

  body > div.card.card-image > div > img {
    width: 70px;
  }


}

@media only screen and (min-width: 768px) {
  .view-options-toggler {
    display: none;
  }



}

.header {
  margin: 30px;
}

.view-options {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo>img {
  width: 200px;
}

#map {
  /* height: 60vh; */
  /* position: sticky  */
  height: 100%;
}

.map-container {
  height: 600px;
  border: solid black 1px;
}

#restaurants {
  overflow: hidden;
}

.listing {
  /* height: 100px; */
  border-top:1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
}

.listing-avatar {
  max-width: 100px;
  min-width: 50px;
  overflow: hidden;
  border-radius: 5px;
  margin-left: 5px;
}

.listing-avatar>img {
  /* border: 1px solid #ddd; */
  border-radius: 4px;
  height: 100px;
  /* padding: 5px; */
  /* width: inherit; */
  /* object-fit: contain; */
  /* max-width: 100%; */
  max-height: 100%;
}

.listing-title {
  font-weight: bold;
}

.listing-info {
  flex: 1;
  padding: 10px;
}

.card {
  padding: 50px;
}

/* logo */
div.card.card-image > div > i {
  font-size: 150px;
  color: white;
}

.reviews {
  display: flex;
  height:20px;
}

.bullet {
  padding-left: 6px;
  padding-right: 6px;
}

.stars {
    display: flex;
}

.reviews>p {
  padding-left: 5px;
}

.input-group.md-form.form-sm.form-1 {
    border: 2px solid white;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    margin: 0 auto
}

.card-image {
  background-image: url(https://s3-media3.fl.yelpcdn.com/assets/srv0/yelp_large_assets/6b30e7f8206f/assets/img/home/hero_photos/atHzOuzY6J-kKdgKQnCDQQ.jpg);
  background-size: cover;
}

.content {
  width: 50%;
  margin: auto;
}

.logo {
  text-align: center;
}

.logo>h1 {
  color: white
}

.nav-link {
  color: white;
}

body > div.card.card-image > div > div.input-group.md-form.form-sm.form-1.pl-0 > input {
  color: black;
  background-color: white
}
